## pandas에서 DataFrame을 만드는 여러가지 방법
1. python의 dict(dictionary)를 직접 작성해서 DataFrame을 생성
2. CSV파일을 이용해서 DataFrame을 생성하는 방법
3. Database안에 있는 데이터를 이용해서 DataFrame을 생성
    - Database를 설정 => mysql 사용
    - Database는 엄밀히 DBMS가 맞음
    - 오라클사의 Oracle
    - IBM의 DB2,MS의 SQL Server
    - MySQL,마리아디비,Postgres, infomix,cybase, ...
    - Database : 논리적인 데이터의 집합체
    - DBMS는 데이터의 집합체인 database를 관리하는 프로그램들의 집합

#### MySQL에서 data를 읽어와서 DataFrame으로 만들기

- python프로그램이 MySQL DBMS에 접속
- 필요한 module 설치
- 필요한 모듈들은 학습,책,구글링을 통해서 찾기
- pymysql 모듈 사용

In [13]:
import pymysql.cursors
import numpy as np
import pandas as pd

In [14]:
# 데이터베이스 접속
# 
conn=pymysql.connect(host='localhost',
                    user='data',
                    password='data',
                    db = 'library',
                    charset = 'utf8'                
                   )

# 접속이 성공했으면 데이터 가져오기
# 책 제목에 특정 키워드가 들어가 있으면 책들을 검색해서 해당 책의
# isbn, 제목, 저자, 가격 졍버를 가져오기

keyword = '여행'

# database에서 데이터를 가져오려면 database에서 사용되어지는 언어로
# 질의(query)를 전달 => SQL(데이터베이스용 프로그래밍 언어)

sql = 'SELECT bisbn, btitle, bauthor, bprice FROM book WHERE btitle LIKE "%{}%"'.format(keyword)

# python의 예외처리 이용
# 코드를 작성하는 시점에서는 잘 됨
# 실행시점에 데이터베이스가 중지되어있으면 오류

try :
    df = pd.read_sql(sql,con=conn)
    display(df)
except Exception as err :
    print(err)
finally:
    conn.close()

,bisbn,btitle,bauthor,bprice
0,978-89-98756-21-5,"IT CookBook, C++ 하이킹 : 객체지향과 만나는 여행","성윤정, 김태은",25000
1,979-11-85933-01-6,게스트하우스 창업 A to Z : 청춘여행자의 낭만적 밥벌이,김아람,15000
2,979-11-85933-10-8,크로아티아의 작은 마을을 여행하다 : 자다르의 일몰부터 두브로브니크의 붉은 성벽까지,양미석,15800
3,979-11-951538-1-7,도쿄의 오래된 상점을 여행하다 : 소세키의 당고집부터 백 년 된 여관까지,"여지영, 이진숙",15000

In [26]:
# 데이터베이스 접속
# 
conn=pymysql.connect(host='localhost',
                    user='data',
                    password='data',
                    db = 'library',
                    charset = 'utf8'                
                   )


keyword = '여행'

sql = 'SELECT bisbn, btitle, bauthor, bprice FROM book WHERE btitle LIKE "%{}%"'.format(keyword)

try :
    df = pd.read_sql(sql,con=conn)
    display(df)
except Exception as err :
    print(err)
finally:
    conn.close()

# DataFrame을 JSON파일에 저장
# 몇가지 형식으로 데이터 저장 가능

# python으로 파일처리 하려면
# 1. 파일 오픈
# 2. 파일 처리
# 3. 파일 close
# 코드방식을 바꾸면 더 효율적으로 처리 가능

# 예전 파일 처리
#    file1 = open('test.txt')
#    file1 = readline()
#    file1.close()

# column명을 기준으로 가져오기
with open('./data/books_orient_column.json','w',encoding = 'utf-8') as file1:
    df.to_json(file1, force_ascii=False,orient='columns')
# record명을 기준으로 가져오기
#with open('./data/books_orient_column.json','w',encoding = 'utf-8') as file1 :
#    df.to_json(file1, force_ascii=False,orient='records')

,bisbn,btitle,bauthor,bprice
0,978-89-98756-21-5,"IT CookBook, C++ 하이킹 : 객체지향과 만나는 여행","성윤정, 김태은",25000
1,979-11-85933-01-6,게스트하우스 창업 A to Z : 청춘여행자의 낭만적 밥벌이,김아람,15000
2,979-11-85933-10-8,크로아티아의 작은 마을을 여행하다 : 자다르의 일몰부터 두브로브니크의 붉은 성벽까지,양미석,15800
3,979-11-951538-1-7,도쿄의 오래된 상점을 여행하다 : 소세키의 당고집부터 백 년 된 여관까지,"여지영, 이진숙",15000

In [27]:
# JSON파일을 가지고 있을 때 파일을 읽어서 pandas DataFrame으로 만들기

import numpy as np
import pandas as pd
import json

with open('./data/books_orient_column.json','r',encoding = 'utf-8') as file1:
    #json을 읽어서 dict로 변환
    dict_book = json.load(file1)
    
print(dict_book)
print(type(dict_book))

{'bisbn': {'0': '978-89-98756-21-5', '1': '979-11-85933-01-6', '2': '979-11-85933-10-8', '3': '979-11-951538-1-7'}, 'btitle': {'0': 'IT CookBook, C++ 하이킹 : 객체지향과 만나는 여행', '1': '게스트하우스 창업 A to Z : 청춘여행자의 낭만적 밥벌이', '2': '크로아티아의 작은 마을을 여행하다 : 자다르의 일몰부터 두브로브니크의 붉은 성벽까지', '3': '도쿄의 오래된 상점을 여행하다 : 소세키의 당고집부터 백 년 된 여관까지'}, 'bauthor': {'0': '성윤정, 김태은', '1': '김아람', '2': '양미석', '3': '여지영, 이진숙'}, 'bprice': {'0': 25000, '1': 15000, '2': 15800, '3': 15000}}
<class 'dict'>

### DataFrame을 만드는 다른 방법
- __OpenAPI__ 를 이용해서 그 결과를 가지고 만들기
- Open API(공개적으로 누구나 사용할 수 있는 웹프로그램)

#### 영화진흥위원회 제공 일일 박스오피스 순위

[영화진흥위원회 API](https://www.kobis.or.kr/kobisopenapi/homepg/main/main.do)

요청 URL : http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=3e41d763ea586c52944aee067560a31c&targetDt=20210113


키 : 3e41d763ea586c52944aee067560a31c

요청변수

- ?key=3e41d763ea586c52944aee067560a31c

- &targetDt=20210113