# 수행평가2

[강사님 홈페이지](https://moon9342.github.io/python-lecture-python-program-exercise-1)

### 수행평가 1 : 기본적인 python프로그래밍 10문제

## 수행평가 2 : class를 이용한 mpg데이터 이용한 8문제

### 수행평가 3 : pandas를 이용한 문제 (예정)

### 문제 설명은 블로그에 명시

### 필당평가 및 수행평가 제출일 (예정) : 1/29 (변동가능)

## CLASS

#### 1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

#### 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다.  "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가  평균적으로 더 높은지 확인하세요.

#### 3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다.  이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

#### 4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 한다. 
#### "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.

#### 5. mpg 데이터는 연비를 나타내는 변수가 2개입니다.  두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 
#### 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다.  회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

#### 6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

#### 7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

#### 8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.

In [5]:
import pandas as pd
my_file = pd.read_csv('mpg.txt')
my_file

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [7]:
my_file['displ']

0      1.8
1      1.8
2      2.0
3      2.0
4      2.8
      ...
229    2.0
230    2.0
231    2.8
232    2.8
233    3.6
Name: displ, Length: 234, dtype: float64

In [3]:
## 1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 
## 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.


class MPG(object) :
    
    def __init__(self,displ,hwy):
        self.displ = displ
        self.hwy = hwy
        
    #def

In [9]:
a = MPG(my_file['displ'],my_file['hwy'])

In [11]:
print(a.displ)

0      1.8
1      1.8
2      2.0
3      2.0
4      2.8
      ...
229    2.0
230    2.0
231    2.8
232    2.8
233    3.6
Name: displ, Length: 234, dtype: float64